
body {
color:black;
background-color: lightgrey;
background-repeat:no-repeat;
background-image:;
background-position:center;
background-attachment:fixed;
width: auto;
margin: auto;
}
.titre {
  border-bottom: solid black 5px;
  border-top: solid white 20px;
  margin-left: -40px;
  margin-right: -40px;
  box-shadow: 15px 20px 10px lightgrey;
}
.fixe{
  position: fixed;
  left: 10px;
  width: 200px;
  border: solid black 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 500px;
  background-color:lightgrey;
}
.sommaire {
  position: relative;
  top: -55px;
}

.center{
 margin-right: 245px;
 margin-left:245px;
 background-color: white;
 box-shadow: 20px 20px 5px grey;
 margin-top: -20px;
}

#submit  { /* Bouton du titre */
	
height:25px;
background: lightgrey;
color:black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
#submit:hover {
background: -moz-linear-gradient(top, 
  #f3c5bd 0%,
  #e86c57 50%,
  #ea2803 51%,
  #ff6600 75%,
  #c72200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0%,#f3c5bd),
  color-stop(50%,#e86c57),
  color-stop(51%,#ea2803), 
  color-stop(75%,#ff6600),
  color-stop(100%,#c72200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, 
  #f3c5bd 0%,
  #e86c57 50%,
  #ea2803 51%,
  #ff6600 75%,
  #c72200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, 
    #f3c5bd 0%,
	#e86c57 50%,
	#ea2803 51%,
	#ff6600 75%,
	#c72200 100%); /* Opera 11.10+ */
background: linear-gradient( to bottom,
  #f3c5bd 0%,
  #e86c57 50%,
  #ea2803 51%,
  #ff6600 75%,
  #c72200 100%); /* W3C */
}
}}