
body { /* fond de page */
color:black;
background-color: lightgrey;
background-repeat:no-repeat;
background-image:;
background-position:center;
background-attachment:fixed;
width: auto;
margin: auto;
}
.titre { /* titre */
  border-bottom: solid black 5px;
  border-top: solid white 20px;
  margin-left: -40px;
  margin-right: -40px;
  box-shadow: 15px 20px 10px lightgrey;
  text-shadow: 5px 5px 5px lightgrey;
}
.fixe{ /* index du coin gauche */
  position: fixed;
  left: 10px;
  width: 200px;
  border: solid black 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 500px;
  background-color:lightgrey;
}
.sommaire { /* sommaire */
  position: relative;
  top: -55px;
}

.center{ /* encadre les données principales de la page */
 margin-right: 245px;
 margin-left:245px;
 background-color: white;
 box-shadow: 20px 20px 5px grey;
 margin-top: -20px;
}

#submit  { /* Bouton original du sommaire principal */
	
height:25px;
background: lightgrey;
color:black;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
#submit:hover { /* déclenchement d'un style quand la souris se trouve sur le bouton */
background: -moz-linear-gradient(top, 
  #f3c5bd 0%,
  #e86c57 50%,
  #ea2803 51%,
  #ff6600 75%,
  #c72200 100%);
background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0%,#f3c5bd),
  color-stop(50%,#e86c57),
  color-stop(51%,#ea2803), 
  color-stop(75%,#ff6600),
  color-stop(100%,#c72200));
background: -webkit-linear-gradient(top, 
  #f3c5bd 0%,
  #e86c57 50%,
  #ea2803 51%,
  #ff6600 75%,
  #c72200 100%);
background: -o-linear-gradient(top, 
    #f3c5bd 0%,
	#e86c57 50%,
	#ea2803 51%,
	#ff6600 75%,
	#c72200 100%);
background: linear-gradient( to bottom,
  #f3c5bd 0%,
  #e86c57 50%,
  #ea2803 51%,
  #ff6600 75%,
  #c72200 100%);
}
}}