#titre{
	text-align:center;
	font-weight:bold;
	font-size:150%;
}

#bonjour{
	text-align:left;
	text-indent:30px;
}

#aireDeJeu{
    float: left;
}

#bateaux{
	float:right;
	width: 50%;
}

#confirm{
	float: left;
}

table {
	margin:50px;
	padding:auto;
}

#PA,#CR,#SS,#TO1,#CT {
	padding:20px;
}
#PAD ,#CRD,#SSD,#TO1D,#TO2D,#CTD{
	padding:2px;
}
